{% extends "main/base.html" %}
{% block title %}
Mintonz
{% endblock %}


{% block content %}
<div class="container">
    {% if check == 'false' %}
    <p align="center"><font color="red">아이디와 비밀번호를 확인하세요</font></p>
    {% elif check == 'not_active' %}
    <p align="center"><font color="red">휴면처리 되어진 계정입니다</font></p>
    {% endif %}
    
    <form class="form-horizontal" name="LoginForm" action="/login/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="username" type="email" class="form-control" name="username" placeholder="Email">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-block btn-lg">로그인</button>
                <button type="button" class="btn btn-warning btn-block btn-lg" id="signup" name="signup" onclick="location.href='/signup/'">회원가입</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}