{% extends "main/base.html" %}
{% block title %}
Mintonz
{% endblock %}


{% block content %}
<script>
	$(function() {
        $('#createNewArticle').click(function(event) {
            event.preventDefault();
            
            if (confirm("작성 완료 하시겠습니까?") == false) {
                return false;
            }
            
            var title = $('#title').val();
            var cont = $('#cont').val();
            var boardType = "{{boardtype}}";
            var gameId    = "{{gameid}}";
            
            if (title == '') {
                alert('제목은 필수입니다');
                return false;
            };
            
            $.ajax({
      				type : 'POST',
      				url : '/boardWriteProc/',
      				data : {
      					title : title,
      					cont : cont,
      					boardType : boardType,
      					gameId : gameId,
      					"csrfmiddlewaretoken": "{{ csrf_token }}",
      				}
      		    	}).done(function(responseText) {
          			    if (responseText) {
          			        var url = '/boardList/' + boardType + '/' + gameId + '/';
            			      location.href = url;
          			    }
          			    
      			    }).always(function() {
      			
      			    }).error(function(request, status, error) {
      				    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
      			    });
        });
    });
</script>
{% if owner == False %}
<script>
    alert("잘못된 접근입니다");
    location.href = '/';
</script>
{% endif %}
<div class="container">
  {% if boardtype == 'game' %}
  <ol class="breadcrumb">
    <li><a href="/gameMain/{{game.gameid}}/">대회메인</a></li>
    <li><a href="/tourMain/{{game.gameid}}/">토너먼트</a></li>
    <li class="active"><a href="/boardList/game/{{game.gameid}}/"><b>게시판</b></a></li>
  </ol>
  {% endif %}
  <div><h2>{{boardtypetext}}</h2></div>
  <br>
  
  <div class="form-group">
    <label for="insertuser">작성자</label>
    <input class="form-control" id="insertuser" name="insertuser" type="text" value="{{user.first_name}}" disabled>
  </div>
  
  <div class="form-group">
    <label for="title">제목</label>
      <input class="form-control" id="title" name="title" type="text">
  </div>
  
  <div class="form-group">
    <label for="cont">내용</label>
    <textarea class="form-control" rows="10" id="cont" name="cont"></textarea>
  </div>
  <button class="btn btn-primary btn-block" id="createNewArticle" name="createNewArticle">작성</button>
</div>
{% endblock %}