{% extends "main/base.html" %}
{% block title %}
Mintonz
{% endblock %}


{% block content %}
<style>
  #modifyGamePosterModal{vertical-align:bottom;}
</style>
<script>
    $(function() {
      
      $('#gameid').val('{{game.gameid}}');
      $('#gameidposter').val('{{game.gameid}}');
    	$('#gamename').val('{{game.gamename}}');
    	$('#region').val('{{game.region}}');
    	$('#owner').val('{{game.owner}}');
    	$('#entryfee').val('{{game.entryfee}}');
    	$('#begindate').val('{{begindate}}');
    	$('#enddate').val('{{enddate}}');
    	$('#stadium').val('{{game.stadium}}');
    	
      $('#modifyGame').click(function(event) {
          event.preventDefault();
          
          if ($('#gamename').val() == '') {
                alert('대회명은 필수입니다');
                return false;
            };
          
          if ($('#begindate').val() == '') {
                alert('개최일은 필수입니다');
                return false;
            };
            
            if ($('#enddate').val() == '') {
                alert('종료일은 필수입니다');
                return false;
            };
            
            if (confirm("대회정보를 수정 하시겠습니까?") == false) {
                return false;
            }
            
            var data = new FormData($('#modifyGameForm').get(0));
          
          $.ajax({
          			type : 'POST',
          			url : '/modifyGame/',
          			enctype : "multipart/form-data",
      				  processData: false,
                contentType: false,
          			data : data,
        		  	}).done(function(responseText) {
            		    if (responseText) {
            		        var url = '/adminGame/' + responseText;
              		      location.href = url;
            		    }
            		    
        			  }).always(function() {
        			
        			  }).error(function(request, status, error) {
        			    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        			  });
      });
      
      $('#modifyGamePoster').click(function(event) {
          event.preventDefault();
 
          var data = new FormData($('#modifyGamePosterForm').get(0));
          
          if ($('#poster').val() == '') {
            alert("포스터를 선택해야 수정이 가능합니다");
          }
          
          $.ajax({
          			type : 'POST',
          			url : '/modifyGamePoster/',
          			enctype : "multipart/form-data",
      				  processData: false,
                contentType: false,
          			data : data,
        		  	}).done(function(responseText) {
            		    if (responseText) {
            		      alert("포스터 수정을 완료하였습니다")
            		      $("#closeModal").trigger("click");
            		      var url = '/adminGame/' + responseText;
              		    location.href = url;
            		    }
            		    
        			  }).always(function() {
        			
        			  }).error(function(request, status, error) {
        			    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        			  });
      });
      
      $('#modifyGamePosterModal').click(function(event) {
          event.preventDefault();
          $('#poster').val('');
      });
      
      $('#deleteGame').click(function(event) {
          event.preventDefault();
          
          if (confirm("대회를 삭제 하시겠습니까?") == false) {
                return false;
          }
          
          var gameid = '{{game.gameid}}';
          
          $.ajax({
          			type : 'POST',
          			url : '/deleteGame/',
          			data : {
          			  gameid : gameid,
          				"csrfmiddlewaretoken": "{{ csrf_token }}",
          			}
        		  	}).done(function(responseText) {
            		    if (responseText) {
            		        var url = '/searchAdminGame/';
              		      location.href = url;
            		    }
            		    
        			  }).always(function() {
        			
        			  }).error(function(request, status, error) {
        			    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        			  });
      });
    });
</script>
<div class="container">
    <ol class="breadcrumb">
        <li class="active"><a href='/adminGame/{{game.gameid}}/'><b>기본정보</b></a></li>
        <li><a href='/adminTour/{{game.gameid}}/'>토너먼트</a></li>
        <li><a href='/adminTourResult/{{game.gameid}}/init/'>결과입력</a></li>
        <li><a href='/adminGameTeam/{{game.gameid}}/'>선수관리</a></li>
    </ol>
    
    <div><h2>기본정보</h2></div>
    <br>
    <img id="GamePoster" class="img-thumbnail" width="200" height="auto" src="/{{ game.poster }}">
    <button type="button" class="btn btn-info" data-toggle="modal" id="modifyGamePosterModal" data-target="#changePoster">포스터수정</button>
    <br>
    
    <form action = "/modifyGame/" id="modifyGameForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input type="hidden" class="form-control" id="gameid" name="gameid">
        </div>
        <div class="form-group">
          <label for="gamename">대회명</label>
          <input type="text" class="form-control" id="gamename" name="gamename">
        </div>
        <div class="form-group">
          <label for="region">지역</label>
          <input type="text" class="form-control" id="region" name="region">
        </div>
        <div class="form-group">
          <label for="owner">개최자</label>
          <input type="text" class="form-control" id="owner" name="owner">
        </div>
        <div class="form-group">
          <label for="owner">참가비</label>
          <input type="number" class="form-control" id="entryfee" name="entryfee">
        </div>
        <div class="form-group">
          <label for="begindate">개최일</label>
          <input type="date" class="form-control" id="begindate" name="begindate">
        </div>
        <div class="form-group">
          <label for="enddate">종료일</label>
          <input type="date" class="form-control" id="enddate" name="enddate">
        </div>
        <div class="form-group">
          <label for="stadium">대회장소</label>
          <input type="text" class="form-control" id="stadium" name="stadium">
        </div>
        <button type="button" class="btn btn-primary btn-block" id="modifyGame" name="modifyGame">정보수정</button>
        <button type="button" class="btn btn-warning btn-block" id="deleteGame" name="deleteGame">대회삭제</button>
    </form>
    <br>
    
  <!-- Modal -->
    <div class="modal fade" id="changePoster" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">포스터수정</h4>
          </div>
          <div class="modal-body">
            <form action = "/modifyGamePoster/" id="modifyGamePosterForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <input type="hidden" class="form-control" id="gameidposter" name="gameidposter">
              </div>
              <div class="form-group">
                <label for="file">대회 포스터</label>
                <input type="file" id="poster" name="poster" accept="image/*">
                <p class="help-block">이미지만 가능합니다</p>
              </div>
              <!--<button type="button" class="btn btn-primary btn-block" id="createNewGame" name="createNewGame">생성</button>-->
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="modifyGamePoster" name="modifyGamePoster">완료</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">취소</button>
          </div>
        </div>
        
      </div>
    </div>    
</div>
{% endblock %}